.boxScore {
      display:flex;
      flex-direction: row;
      margin-left: 1rem;
      margin-bottom: 1rem;
      align-items: center;
          }

.pitch {
  margin-left: .5rem;
  align-items: flex-end;
}

.inning{
  width: 1rem;
}

.innScore{
  width: 4rem;
}

.button{
  margin-left: .5rem;
}

.count {
  height: 16px;
  width: 16px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: .25rem;
  margin-bottom: .35rem;
}

/*
.svg{
visibility: hidden;
width: 100px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip
position: absolute;
}

#svg_1{
  margin-left: 1rem;
}

#svg_2{
  margin-left: 1rem;
}

#svg_3{
margin-right: 1rem;
}*/
